In [1]:
!pip install -U beautifulsoup4

Requirement already up-to-date: beautifulsoup4 in c:\users\henry\anaconda3\lib\site-packages (4.6.0)

In [1]:
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup

In [2]:
url = 'https://bloomington.craigslist.org/d/sublets-temporary/search/sub'
r = requests.get(url)

In [3]:
print(r.url)

https://bloomington.craigslist.org/d/sublets-temporary/search/sub

In [4]:
prices = re.findall(r'<span class="result-meta">\W+<span class="result-price">\$(.*?)</span>', r.text, re.DOTALL)

In [5]:
len(prices)

108

In [6]:
print(prices)

['3500', '770', '845', '175', '720', '935', '629', '525', '660', '713', '960', '879', '655', '750', '525', '629', '750', '850', '1400', '655', '600', '1395', '405', '455', '475', '1000', '670', '550', '670', '525', '655', '965', '655', '500', '500', '500', '600', '550', '900', '1100', '529', '1100', '1050', '225', '1135', '850', '1400', '2150', '230', '225', '300', '99', '2700', '350', '500', '900', '900', '755', '1079', '700', '755', '1200', '99', '1350', '230', '850', '760', '150', '242', '300', '299', '1300', '600', '400', '1800', '160', '279', '1600', '950', '1800', '1400', '1400', '975', '997', '620', '997', '724', '600', '700', '319', '319', '600', '700', '1495', '880', '567', '864', '250', '710', '400', '359', '600', '345', '329', '420', '840', '345', '275']

In [7]:
p = {'prices': prices}
prcdf = pd.DataFrame(p)
prcdf.head()

  prices
0   3500
1    770
2    845
3    175
4    720

In [8]:
L = [float(n) for n in prices if n]
avgprc = sum(L)/len(L) if L else '-'
avgprc

764.1296296296297